## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

In [2]:
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Jamestown,US,76.17,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,2,Swan River,CA,83.71,few clouds,52.1058,-101.2676,Super 8 by Wyndham Swan River MB
2,3,Bethel,US,88.02,broken clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
3,7,Marienburg,PL,79.84,broken clouds,54.0359,19.0266,Hotel Centrum Malbork
4,25,Parbhani,IN,81.21,broken clouds,19.2667,76.7833,City Palace

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [10]:
# 3a. Get the data from each row and 
# add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

In [11]:
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [13]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Ca Mau']
vacation_end = vacation_df.loc[vacation_df['City']  == 'Ca Mau']
vacation_stop1 = vacation_df.loc[vacation_df['City']  == 'Vung Tau']
vacation_stop2 = vacation_df.loc[vacation_df['City']  == 'Tuy Hoa']
vacation_stop3 = vacation_df.loc[vacation_df['City']  == 'Quang Ngai']
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
165,502,Quang Ngai,VN,79.86,overcast clouds,15.1167,108.8,Central Hotel

In [23]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].values[0], vacation_start['Lng'].values[0]
end = vacation_end['Lat'].values[0], vacation_end['Lng'].values[0]
stop1 = vacation_stop1['Lat'].values[0], vacation_stop1['Lng'].values[0]
stop2 = vacation_stop2['Lat'].values[0], vacation_stop2['Lng'].values[0]
stop3 = vacation_stop3['Lat'].values[0], vacation_stop3['Lng'].values[0]

In [24]:
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(9.1769, 105.15)
(9.1769, 105.15)
(10.346, 107.0843)
(13.0833, 109.3)
(15.1167, 108.8)

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2, stop3],
    travel_mode='DRIVING'
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,55,Ca Mau,VN,80.44,overcast clouds,9.1769,105.1500,KhÃ¡ch Sáº¡n MÆ°á»ng Thanh Luxury CÃ Mau
1,55,Ca Mau,VN,80.44,overcast clouds,9.1769,105.1500,KhÃ¡ch Sáº¡n MÆ°á»ng Thanh Luxury CÃ Mau
2,462,Vung Tau,VN,81.27,light rain,10.3460,107.0843,Green hotel
3,505,Tuy Hoa,VN,79.68,overcast clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
4,502,Quang Ngai,VN,79.86,overcast clouds,15.1167,108.8000,Central Hotel

In [27]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,55,Ca Mau,VN,80.44,overcast clouds,9.1769,105.1500,KhÃ¡ch Sáº¡n MÆ°á»ng Thanh Luxury CÃ Mau
1,55,Ca Mau,VN,80.44,overcast clouds,9.1769,105.1500,KhÃ¡ch Sáº¡n MÆ°á»ng Thanh Luxury CÃ Mau
2,462,Vung Tau,VN,81.27,light rain,10.3460,107.0843,Green hotel
3,505,Tuy Hoa,VN,79.68,overcast clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
4,502,Quang Ngai,VN,79.86,overcast clouds,15.1167,108.8000,Central Hotel

In [28]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
"""

In [29]:
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))